<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="includes/header :: client_header"></div>
  <div class="container" id="main-content">
    <div class="col-lg-8 col-sm-12 top1">
      <div class="col-md-12 col-xs-12">
        <!-- Info Section  -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <h1 class="panel-title">
              Video Surveillance and Analytics systems
            </h1>
          </div>
          <div class="panel-body">
            <p style="text-align: justify">
              C-DAC’s Intelligent Video Surveillance and Analytics Solution is a
              Digital Security Enhancer Application, available for monitoring
              and operating your surveillance system. With rise in security
              concerns and easy availability of Closed-Circuit Television (CCTV)
              cameras, which are meant for monitoring the territory, activities
              and situations. Development of CCTV systems offers new
              opportunities not only for recording offenses but, more
              importantly for preventing them. Our system helps not only to
              prevent crimes due to visual control but also to identify
              offenders using the information recorded by video cameras. We use
              Artificial Intelligence to make systems automated. Our system
              works on a cloud-based architecture and can record the data on
              cloud or in local systems or can be used for backup purposes. Our
              system uses GPU's that makes the solution scalable and faster.
            </p>
            <p>
              <b> C-DAC’s Video Surveillance systems has following modules: </b>
            </p>
            <ul>
              <li>Face detection and recognition.</li>
              <li>
                Person distress and theft activities detection from video.
              </li>
              <li>Crowd abnormality and vehicle accident identification.</li>
              <li>Fire and smoke detection.</li>
              <li>
                Tracking objects (vehicle, person) in the area of surveillance.
              </li>
            </ul>

            <p>
              <b>
                With our video surveillance system customer will be able to:
              </b>
            </p>
            <ul>
              <li>integrate ip cameras</li>
              <li>set up alarm</li>
              <li>have full and recorded data about every event</li>
              <li>record videos</li>
              <li>
                control and access software from anywhere from our Cloud-based
                architecture
              </li>
              <li>prevent thefts and damages</li>
              <li>track people and cars etc..</li>
              <li>
                monitor people by using face detection and recognition feature
              </li>
              <li>detect fire, smoke</li>
              <li>detect vehicle accidents</li>
              <li>
                apply video summarization and enhancement at your convenience
              </li>
              <li>
                apply multiple analytics module on video or cctv streams as per
                need
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 top1">
      <!-- Login Section -->
      <div class="panel panel-success">
        <div class="panel-heading">
          <br />
          <h3 class="panel-title" style="text-align: center">Login</h3>
          <br />
        </div>
        <div class="panel-body">
          <div id="admin_login" class="login_controller top1">
            <form th:action="@{/login}" method="post">
              <div class="row top1">
                <div class="col-lg-3">Email</div>
                <div class="col-lg-9">
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    placeholder="E-mail"
                  />
                </div>
              </div>
              <div class="row top1">
                <div class="col-lg-3">Password</div>
                <div class="col-lg-9">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                  />
                </div>
              </div>
              <div class="row top1">
                <input
                  type="submit"
                  class="btn btn-primary btn-block"
                  value="Login"
                />
              </div>

              <div class="row top1 text-center">
                <a th:href="@{/register}" id="register_link" class="link"
                  >New Admin Register Here</a
                >
              </div>

              <div class="row top1 text-center">
                <a
                  th:href="@{/forgotpassword}"
                  id="forget_password_link"
                  class="link"
                  >Forgot Password</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Link Section -->
      <div>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h1 class="panel-title">Links</h1>
          </div>
          <div class="panel-body">
            <div>
              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='Updated-Brochure.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Intelligent Video Surveillance and Analytics
                  System
                </a>
              </p>
              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='1.CDACK Brochure Vehicle Accident Detection and Summarization.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Vehicle Accident Detection and Summarization
                </a>
              </p>

              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='2.CDACK Brochure Theft Detection and Summarization.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Theft Detection and Summarization
                </a>
              </p>

              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='3.CDACK Brochure Person Satisfaction Distress Detection and Summarization.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Person Satisfaction Distress Detection and
                  Summarization
                </a>
              </p>

              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='4.CDACK Brochure Hierarchical Search Module.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure Hierarchical Search Module
                </a>
              </p>
              <p></p>

              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='OCEAN_v2.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Ocean Surveillance
                </a>
              </p>

              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='PERSON_v2.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Person Search
                </a>
              </p>

              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='Fire&Smoke_inscapeV2.V2.final.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Fire and Smoke Detection
                </a>
              </p>

              <p>
                <span class="blink_text_sup"><sup>New</sup></span>
                <a
                  th:href="@{getFile(id='abnormal_crowd_inscapeV2.final.pdf')}"
                  target="_blank"
                  style="color: blue"
                >
                  Brochure for Abnormal Crowd Detection
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- VideoS section-->
    <div class="row top1" style="min-height: 300px">
      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='4.CollaborativeLiveVideoAnalytics-CDACChennai.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">
                  Collaborative Live Video Analytics
                </div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='main dash.webm')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">
                  Main DashBoard of Live camera Detection
                </div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='Demo Admin.webm')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Demo of Admin Role</div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='Demo User.webm')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Demo of User Role</div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='VehicleAccDet&Sum.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">
                  Vehicle Accident Detection and Summarization
                </div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='TheftDet&Sum.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Theft Detection and Summarization</div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='PersonDistDet&Sum.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">
                  Person Satisfaction Distress Detection and Summarization
                </div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='Searching.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Hierarchical Search Module</div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='new_demo3.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Ocean Surveillance</div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='3.PersonSearch-CDACChennai.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Person Search</div>
              </b></span
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='smoke_demo.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Smoke Detection</div>
              </b></span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='ab_crowd_demo.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Abnormal Crowd Detection</div>
              </b></span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 top1" style="min-height: 300px">
        <div class="card border-success mb-3">
          <video width="100%" controls="controls" preload="metadata">
            <source
              th:src="@{getVideo(id='fire_demo.mp4')}+'#t=0.5'"
              type="video/mp4"
            />
          </video>
          <div class="card-body">
            <span style="text-align: center" class="top1"
              ><b>
                <div style="color: blue">Fire Detection</div>
              </b></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="includes/footer :: footer"></div>
</html>
